<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CG_UFPel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CFBC2B4417145FBB72BB4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>577512FDCC344F01B40E2B66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DADC60550CD4430B12A87BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6381DF7D8CBF4592B228678F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99A72CBE8EE1404E9ADAAFF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B552473B9635485098F221A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2BA847C13FC4DB1A2112C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB64380C3B0D42249E119E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE8122ADC0BB4112A5543034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
